.headingOne{
  color: rgb(213, 92, 5);
  text-align: center;
  text-shadow: 3px 3px 0px rgb(144, 65, 8);
  font-family:cursive;
}

html, body{
  display: flex;
  align-items: center;
  justify-content: center;
}

.contDiv{
  background-color: blanchedalmond;
  width:100%;
  height:100%;
  position: absolute;
  top: 70px;
  text-align: center;
}

.barCont{
  background-color: rgb(169, 73, 4);
  color: wheat;
}

.barCont a{
  margin: 10px;
  color: white;
  text-decoration: underline 0px;
}

#home{
  text-align: center;
}

.TopBooksPoster{
  color: rgb(142, 80, 35);
  cursor: pointer;
  font-family: cursive;
  background-color: rgb(221, 121, 50);
  position: relative;
  top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.posterBook{
  height: 300px;
  background-color: rgb(215, 187, 167);
  margin: 3px;
  border: 2px black;
  flex: 0 0 20%;
}
