.BuyDiv, .BuyDiv2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.BuyBooks{
    text-align: center;
    margin: 40px;
    width: 200px;
    height: 300px;
    background-color: rgb(204, 226, 246);
    border-radius: 10px;
    border: 1px solid black;
    color: rgb(136, 90, 4);
}

.BuyBooks:hover{
    background-color: rgb(146, 193, 237);
    box-shadow: 10px 10px 0px rgb(113, 136, 156) ;
    transition: 0.5s;
}

.pagalImg{
    width: 180px;
    height: 270px;
    border-radius: 0px;
}