.BuyDiv, .BuyDiv2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.BuyBooks{
    text-align: center;
    margin: 40px;
    width: 200px;
    height: 300px;
    border:solid 2px black;
    border-radius: 10px;
}